#image{
    width: 800px;
}
.Navcenter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: red;
    width: 200px;
    border: 1px solid #555;
    
}
.Navcenter a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.Navcenter a:hover {
    background-color: white;
    color: red;
}
.active {
    background-color: blue;
}
.Navcenter:last-child {
    border-bottom: none;
}
table{
    border: 1px solid black;
    border-collapse:collapse;
}
table{
    border: solid black 1px;
    padding:6px;
}
.OneProduct>td:nth-of-type(2){
    font-weight:bold;
}
table:first-of-type{
    font-weight:bold;
}
.OneProduct{
    background-color:violet;
}
.OneProduct:hover{
    background-color: beige;
    color:white;
}
  




